<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotorMaven</title>
    <!-- custom css file link  -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <header class="header">


        <i class='bx bx-menu bx-tada' id="menu-icon"></i>
        <a href="#" class="logo"> <span>Motor</span>Maven</a>


        <nav class="navbar">
            <a href="home.html">Home</a>
            <a href="Cars.html">Cars</a>
            <a href="products.html">products</a>
            <a href="About.html">About Us</a>
        </nav>

        <!--search icon-->
        <i class='bx bx-search bx-tada' id="search-icon"></i>
        <!--search icon-->
        <div class="search-box conteiner">
            <input type="search" name="" id="" placeholder="Search here"> </div>

    </header>

    <section class="home" id="home">
        <!--
        <h3 data-speed="-2" class="home-parallax">find your part</h3>
        <img data-speed="5" class="home-parallax" src="image/home-img.png" alt="">
        <a data-speed="7" href="#" class="btn home-parallax">explore parts</a>-->

    </section>

    <div class="container">
        <h2>Payment Details</h2>
        <form>
            <div class="form-group">
                <label for="cardNumberInput">Card Number:</label>
                <input type="text" class="form-control" id="cardNumberInput" placeholder="1234 1234 1234 1234">
            </div>
            <div class="form-group">
                <label for="cardNumberInput">Card Name:</label>
                <input type="text" class="form-control" id="cardNameInput" placeholder="John Doe">
            </div>
            <div class="form-group">
                <label for="expiryDateInput">Expiry Date:</label>
                <input type="text" class="form-control" id="expiryDateInput" placeholder="MM/YY">
            </div>
            <div class="form-group">
                <label for="cvvInput">CVV:</label>
                <input type="text" class="form-control" id="cvvInput" placeholder="123">
            </div>
            <button type="button" class="btn btn-primary" id="submitButton">Pay</button>
            <br><br>
            <div class="alert alert-danger" role="alert" id="resultContainer" style="display: none;"></div>
        </form>
    </div>


    <section class="footer" id="footer">

        <div class="box-container">

            <div class="box">
                <h3>our branches</h3>
                <a href="#"> <i class="map-marker-alt"></i> United Kingdom </a>
                <a href="#"> <i class="map-marker-alt"></i> japan </a>
                <a href="#"> <i class="map-marker-alt"></i> greece </a>

            </div>

            <div class="box">
                <h3>quick links</h3>
                <a href="home.html"> <i class="arrow-right"></i> home </a>
                <a href="Cars.html"> <i class="arrow-right"></i> Cars </a>
                <a href="products.html"> <i class="arrow-right"></i> products </a>
                <a href="About.html"> <i class="arrow-right"></i> About Us </a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#"> <i class="phone"></i> +44 3431312345 </a>
                <a href="#"> <i class="phone"></i> +44 343876556 </a>
                <a href="#"> <i class="envelope"></i> MotorMaven@gmail.com </a>
                <a href="#"> <i class="map-marker-alt"></i>Plymouth, United Kingdom </a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#"> <i class="facebook-f"></i> facebook </a>
                <a href="#"> <i class="twitter"></i> twitter </a>
                <a href="#"> <i class="instagram"></i> instagram </a>
                <a href="#"> <i class="linkedin"></i> linkedin </a>
                <a href="#"> <i class="pinterest"></i> pinterest </a>
            </div>

        </div>

        <div class="credit"> created by Evans | all rights reserved </div>

    </section>


</body>


</html>

<script src="/static/js/payment.js"></script>